/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

#container {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circular {

  display: block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: url("../img/globos.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nombre-imagen {

  text-align: center;
}